.heading{
    width: 100%;
    text-align: center;
    background-color: brown;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 10px;
}

.shop-now{
    text-decoration: underline;
    cursor: pointer;
}

*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.logo{
    font-size: 36px;
    font-weight: bold;
    margin-left: 40px;
    color: brown;
    line-height: 80px;
    margin-bottom: 0;
}

nav{
    background-color: white;
    width: 100%;
    height: 80px;  
    margin-bottom: 0; 
}

nav ul{
    line-height: 50px;
    float: right;
    margin-right: 30px;
}

nav ul li{
    display: inline;
    margin-right: 100px;
}

img{
    width: 100%;
}

nav ul li a{
    font-size: 12px;
    color: brown;
    cursor: pointer;
    border-radius: 2px;
    border-width: 1px;
    padding: 5px 4px;
}

a:hover{
    background-color: rgb(190, 182, 167);
    color: black;
    transition: 0.15s;
}

.content{
    position: absolute;
    text-align: center;
    color: white;
    top: 350px;
    left: 500px;    
}

.option1{
    position: relative;
    width: 300px;
    font-size: 30px;
    font-family: roboto;
    height: 64px;
    left: 50px;
    margin-bottom: 50px;
    color:rgb(159, 223, 199);
}

.option2{
    font-size: 96px;
    font-weight: bold;
    color:rgb(42, 238, 166);
}

.option3{
    position: relative;
    width: 300px;
    font-size: 24px;
    font-family: roboto;
    margin-bottom: 70px;
    left: 50px;
    color:rgb(42, 85, 69);
}

.play-video{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    border: 1px;
    background-color: blanchedalmond;
    transition: background-color 0.15s, color 0.15s;
    margin-bottom: 60px;
    border-color: brown;
}

.Signup{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    border: none;
    background-color: red;
    color:rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.Signup:hover{
    background-color: black;
    color:bisque;
}

.play-video:hover{
    background-color: brown;
    color:white;
}

.scroll{
    color: rgb(0, 0, 0);
    cursor:pointer;
}

.scroll:hover{
    color:rgb(255, 149, 20);
}

.footer{
    position: absolute;
    text-align: center;
    left: 500px;  
}

.quote{
    font-size: 64px;
    margin-bottom: 20px;
}

.quote1{
    font-size: 32px;
}

.quote2{
    font-size: 14px;
}